@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #232f3e;
  font-size: 14px;
  font-family: "Montserrat";
  color: #fff;
}

ul {
  list-style-type: none;
}

li {
  margin: 20px 0 0 0;
  font-size: 1.5rem;
}

.cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont h1 {
  font-size: 4rem;
}
